button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: 1px solid black;
//	border-radius: 3px;
	background: none;
	color: rgba(0, 0, 0, .8);
    margin-top: 1em;
	padding: .6em 1em .4em;

	&:hover a {
        color: $color_site-secondary;
	}

	&:active,
	&:focus {
        color: $color_site-secondary;
	}
}