<header>
  <span class='logo'>
    <span class='box first'></span>
    <span class='box second'></span>
    <span class='box third'></span>
  </span>
  <h1>AreaVoices</h1>
  <h3>A contributor theme for the AreaVoices network.</h3>
  <a href='https://github.com/openfcci/areavoices-theme' class='button mr'>Github</a>
  <a href='http://avtheme.areavoices.com/' class='button mr'>Live Demo</a>
  <a href='https://github.com/openfcci/areavoices-theme/wiki' class='button tweet'>Learn More</a>
  <!--<a href='https://github.com/openfcci/areavoices-theme/zipball/master' class='button mr'>Download</a>-->
</header>
