body {
    background-color: #d3d3d3;
    color: #3d3d3d;
}

article,
aside {
    background-color: #ffffff;
    padding: 2em;
}

#page {
    background-color: $color_site-background;
}

.hfeed {

}

.site {

}

#content {

}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
}

#primary {
    float: left;
    width: $size__site-main;
}

#secondary {
    float: right;
    width: $size__site-sidebar;
}

.hentry,
.widget {
    margin: 0 0 2em;
}

a {
    color: $color_site-secondary;
    text-decoration: none;
}

i {
    margin-right: 0;
}

.separator {
    margin-left: 1em;
    margin-right: 1em;
}

.post article {
    background-color: lighten($color_site-background, 100%);
}

.edit-link {
    float: right;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    float: left;
    padding: 1em 2em 1em 0;
    overflow: scroll;
    width: 45%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    float: right;
    padding: 1em 0 1em 2em;
    overflow: scroll;
    width: 45%
}

.comment-navigation .nav-previous::before,
.posts-navigation .nav-previous::before,
.post-navigation .nav-previous::before {
    content: "\2190";
    padding-right: .7em;
}

.comment-navigation .nav-next::after,
.posts-navigation .nav-next::after,
.post-navigation .nav-next::after {
    content: "\2192";
    padding-left: .7em;
}

input.search-field {
    width: 100%;
}