$color_site-primary: #289fba;           // Style Tile color 1
$color_site-secondary: #de8027;        // Style Tile color 2
$color_site-tertiary: #0d323a;        // Style Tile color 3
$color_site-background: #ebebeb;       // Style Tile color 4
$color_site-text: #464646;           // Style Tile color 5

$color__background-body: $color_site-background;
$color__background-screen: $color_site-background;
$color__background-hr: $color_site-tertiary;
$color__background-button: $color_site-secondary;
$color__background-pre: lighten($color_site-tertiary, 30%);
$color__background-ins: lighten($color_site-tertiary, 50%);

$color__text-screen: $color_site-text;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $color_site-tertiary;
$color__link-visited: $color_site-tertiary;
$color__link-hover: $color_site-secondary;
$color__text-main: #404040;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
